endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"


############# FIVEM PERMISSIONS DE BASE ######################
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group
######################################################################################################################
sv_scriptHookAllowed 0
sets tags "esx,basetemplatepanda,template"
sets locale "fr-CA" 
sv_hostname "BaseTemplate | PandaQC | ESX Legacy 1.7.5"
sets sv_projectName ""
sets sv_projectDesc ""
#pour mettre en localhost
set mysql_connection_string "mysql://root:@localhost:3306/basetemplateox"
#pour aller sur un hebergeur
#set mysql_connection_string "user=root;password=12345;host=localhost;port=3306;database=es_extended"


set steam_webApiKey "8372FDAF0E5F92BFB8D77E80B42586ED"
sv_licenseKey cfxk_rOav5pgxri3dXyCvLRl4_4bntKu
sv_maxclients 1
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync legacy
#### ESX LEGACY PERMISSIONS  ###### 
add_principal group.admin group.user
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
###########################################################
######################################################################################################################
###### cfx server data ###########
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure rconlog
ensure Panda_Lever_La_Main

#legacy
ensure oxmysql
ensure spawnmanager
ensure [esx]
ensure MenuF5
ensure Panda_Precense

######################################################################################################################

# Set Game Build (https://docs.fivem.net/docs/server-manual/server-commands/#sv_enforcegamebuild-build)
sv_enforceGameBuild 2189

#load_server_icon myLogo.png
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

######################################################################################################################